<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Falcon">
 <test  name="Falcon App Test Cases">
 <classes>
 <class name="com.falcon.qa.testcases.DashboardPageTest"></class>
 <class name="com.falcon.qa.testcases.ViewPageTest"></class>
 </classes>
 </test> 
</suite> 